
</div><!-- /.main -->

<footer itemprop="provider" itemscope itemtype="http://schema.org/LocalBusiness">
    <meta itemprop="naics" content="621111" />
    <div class="wrap">
      <div class="two columns">
        <h3>Contact us</h3>
        <p>To schedule an appointment, call <span itemprop="telephone">979-695-3570.</span></p>
        <a href="/contact/" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <strong itemprop="name"><abbr title="Bryan, College Station">BCS</abbr> Abundant Life Family Practice PA</strong><br/>
          <span itemprop="streetAddress">2911 Texas Ave. South, Suite 202</span><br/>
          <span itemprop="addressLocality">College Station, <span itemprop="addressRegion">TX</span> <span itemprop="postalCode">77845</span>
        </a>
      </div>
      <div id="footer-hours" class="two columns">
        <h3>Hours</h3>
        <time itemprop="openingHours" datetime="Mo 8:00-17:00, Tu 8:00-17:00, We 8:00-17:00, Th 8:00-17:00, Fr 8:00-14:00">
          <ul>
            <li>Monday &mdash; Thursday 8:00am to 5:00pm</li>
            <li>Friday 8:00am to 2:00pm</li>
            <li>Lunch hours M to Th, 12-1. On Fridays, there is no lunch break.</li>
          </ul>
        </time>
      </div>
    </div>
    <!-- /.wrap -->
</footer>
<script src="/js/combined-minified.js"></script>
<script>
  // mark current page in navigation
  $(function(){
    $('#side-nav a').each(function() {
      if ($(this).prop('href') == window.location.href) {
        $(this).addClass('current');
      }
    });
  });
</script>
</body>
</html>
